<div class="container">
  <p>E3 is an Ember-centric data visualization library.</p>
  <p>It borrows heavily from D3 for the math-behind-the-magic, but adheres to the more modern
      "data down / actions up" paradigm for data binding. E3 also supports rendering both to Canvas and SVG.</p>
  <p>Please note that this is in a very early beta (alpha?) stage and that the API should not be considered stable
      ...or always functioning. We're not quite feature complete and the first few iterations will try to address that.
      (See <a href="https://github.com/RavelLaw/e3/blob/master/TODO.md" target="_blank">TODO.md</a> for status).
      I would not yet consider this production ready.</p>
</div>
