<h2 class="title">Text</h2>
{{#e3-container type='svg' height=400 width=800 as |ctx meta|}}
  <metadata>
    {{e3-scale/linear ctx 'x'
      domain=(e3-extent model key='value' padding=0.2 min-delta=5)
      range=ctx.horizontalRange
    }}
    {{e3-scale/linear ctx 'y'
      domain=(e3-extent model key='temperature' padding=0.2 min-delta=5)
      range=ctx.verticalRange
    }}
  </metadata>

  {{#each model as |data|}}
    {{e3-shape/text ctx
      data=data
      x=(e3-bind-scale meta.scales.x 'value')
      y=(e3-bind-scale meta.scales.y 'temperature')
      text=(temperature-format data.temperature)
    }}
  {{/each}}
{{/e3-container}}
